@import "../../styles/variable";

.media {
  width: 100%;
  position: relative;
  .item-list {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    .media-item {
      font-size: 0;
      position: relative;
      .media-single {
        width: 426px;
        height: 350px;
      }
      .media-multi {
        height: 222px;
        width: 222px;
        margin-right: 12px;
      }
      .media-two {
        width: 355px;
        height:340px;
      }
      image {
        font-size: 0;
      }
      .play-video {
        position: absolute;
        width: 30%;
        height: 30%;
        min-height: 90px;
        min-width: 90px;
        max-height: 120px;
        max-width: 120px;
        overflow: auto;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
  .media-count {
    position: absolute;
    right: 14px;
    bottom: 14px;
    z-index: 100;
    color: $white;
    font-size: 28px;
  }
}
