@import "../../styles/variable";
@import "../../styles/mixin";

.topic-item {
  background-color: #ffffff;
  padding-top: 24px;
  margin-bottom: 15px;
  margin-top: 1px;
  .avatar-wrapper {
    padding: 0 30px;
    .created-at {
      height: 50px;
      line-height: 50px;
      font-size:24px;
      font-weight: 300;
      color:rgba(189,189,189,1);
    }
  }
  .body {
    padding: 0 30px;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 30px;
    font-weight: 300;
    .body-text {
      color: rgba(61,61,61,1);
      line-height:43px;
      @include multi-line-text(5);
    }
    .body-more {
      margin: 3px 0;
      color: #219BFF;
    }
  }
  .medias {
    padding: 0 30px;
    margin-bottom: 20px;
  }
  .action-list {
    margin-bottom: 10px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 40px;
    .icon {
      font-size: 37px;
      margin-right: 15px;
      color: #BDBDBD;
      width: 110px;
    }
    .icon-text {
      color: #BDBDBD;
      font-size: 22px;
    }

    .action-left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 355px;
      .action {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .share-button {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-end;
      background-color: $white;
      color: $gray;
      line-height: 1;
      .icon {
        font-size: 32px;
      }
      button {
        //padding: 0;
      }
      button::after {
        border: none;
      }
    }
  }
}
