.login {
  padding: 0 0;
  text-align: center;
  .logo {
    margin-top: 100px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
  }
  .intro {
    margin-top: 40px;
    font-size: 32px;
    font-weight: 600;
  }
  .desc {
    margin-top: 20px;
    font-size: 24px;
    color: #3D3D3D;
  }
  .login-button {
    margin-top: 70px;
    width: 90%;
  }
  .more-info {
    margin-top: 40px;
    font-size: 28px;
    color: #ADADAE;
  }

}
