@import "../../styles/variable";

page {
  background-color: white;
  width: auto;
  height: auto;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: $white;
}

.new-topic-detail {
  position: relative;
  //margin-top: 134px;
  padding-bottom: 140px;
  font-size: 0;
  .title-content {
    padding-left: 50px;
    .title {
      height: 100px;
      width: 92.5%;
      border: none;
      border-top: 1PX solid #F3F3F3;
      border-bottom: 1PX solid #F3F3F3;
      border-radius: 0;
      padding: 24px 1px 24px 0;
      //margin-right: 30px;
      font-size: 32px;
      font-weight: 400;
      color: rgba(61,61,61,1);
      letter-spacing: 1px;
    }
    .textarea-placeholder {
      font-size: 32px;
      font-weight: 300;
      color: #B3B3B3;
    }
    .empty-title {
      height: 70px;
      padding: 24px 30px 25px 0;
    }
  }

  .content {
    padding: 24px 30px 1px 50px;
    //padding-top: 10px;
    //padding-bottom: 50px;
    .plain-content-block {
      min-height: 170px;
      font-size: 30px;
      padding-right: 30px;

      .body-content {
        height: 200px;
        width: 100%;
        border: none;
        font-size: 30px;
        font-weight: 300;
        line-height: 43px;
        letter-spacing: 1px;
        color:rgba(61,61,61,1);
      }
      .textarea-placeholder {
        color: #B3B3B3;
        font-size: 30px;
      }
    }

    .suggestions-wrap {

    }
    .medias-block {
      margin-top: 80px;
      padding-right: 30px;
      //margin-bottom: 100px;
      display: flex;
      flex: 1;
      width: 100%;
      flex-wrap: wrap;
      .media-item {
        flex: 0 0 25%;
        margin-bottom: 16px;
        .photo {
          position: relative;
          width: 148px;
          height: 148px;
          //border-radius: 12px;
          .topic-video, video {
            width: 148px;
            height: 148px;
            //border-radius: 12px;
            z-index: 100;
          }
          .remove {
            position: absolute;
            top: -2px;
            right: -2px;
            z-index: 10;
            background-color: $white;
            border-radius: 50%;
            .topic-close {
              border-radius: 50%;
              height: 30px;
              width: 30px;
            }
            .icon-topic-close {
              /*background-color: red;*/
              background-color: $white;
              border-radius: 50%;
            }
          }
        }

        .video-wrapper {
          position: relative;
          .play-video{
            position: absolute;
            width: 30%;
            height: 30%;
            min-height: 60px;
            min-width: 60px;
            max-height: 60px;
            max-width: 60px;
            overflow: auto;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

          }
        }
      }

    }
    .selected {
      color: $blue;
    }
  }

  .chose {
    color: gray;
  }
  .is-hide {
    padding: 0 0 0 15px;
    .at-switch {
      padding-right: 18px;
      .at-switch__title {
        color: #B3B3B3;
        font-size: 30px;
        font-weight: 300;
      }
    }
  }
  .publish-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
    width: 100%;
    text-align: center;
    z-index: 1000;
    font-weight: 600;
    .no-ready {
      background: #FF8999;;
      color: #FFC5D4;
    }
    .ready {
      background: $red;
      color: $white;
    }
    font-size: 36px;
    .text {

    }
  }
  .edit-publish-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    font-size: 36px;
    z-index: 1000;
    font-weight: 600;
    .no-ready {
      background: #FF8999;
      color: #FFC5D4;
    }
    .ready {
      background: $red;
      color: $white;
    }

    .save-btn {
      width: 80%;
    }
    .delete-btn {
      width: 20%;
      background: rgba(243,243,243,1);
      .trash-color {
        color: #C6C6C6;
        //font-size: 36px;
        height: 36px;
        width: 36px;
      }
    }
  }
}
