@import "../../styles/variable";

.topic-detail {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
  }
  padding-bottom: 70px;
  .avatar-wrapper {
    padding: 160px 30px 0 26px;
  }
  .images {
    margin-top: 24px;
    height: 490px;
    .media {

    }
    .media-img {
      width: 750px;
      height: 490px;
    }
    .play-video {
      position: absolute;
      font-size: 0;
      overflow: auto;
      margin: auto;
      min-height: 130px;
      min-width: 130px;
      max-height: 130px;
      max-width: 130px;
      top: 0;
      left: 0;
      bottom: 60px;
      right: 20px;
    }
  }
  .title {
    margin-top: 25px;
    padding: 0 30px;
    font-size: 32px;
    font-weight:400;
    color: rgba(61,61,61,1);
    line-height: 42px;
  }
  .body {
    margin-top: 25px;
    padding: 0 30px;
    font-size: 30px;
    font-weight: 300;
    line-height: 50px;
    color: rgba(67, 73, 87, 1);
    .txt {
      height: 20px;
    }
  }
  .numbers {
    display: flex;
    margin-top: 10px;
    margin-bottom: 34px;
    padding: 0 30px;
    font-size: 24px;
    line-height: 40px;
    color: rgba(189, 189, 189, 1);
    .created_at {
      margin-right: 8px;
    }
    .views_count {
      margin-left: 8px;
    }
  }

}

.comment-wrapper {

}

.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 100;

  .item {
    font-size: 45px;
    color: $gray;
    font-weight:400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    .icon {
      font-size: 42px;
    }
    .like {
      font-size: 40px;
    }
    .liked {
      font-size: 36px;
    }
    .txt {
      font-size: 24px;
      padding-left: 11px;
    }

  }
  .item:first-child {
    padding-left: 100px;
  }
  .item:last-child {
    padding-right: 100px;
  }

  /*输入评论*/
  .comment-input {
    display: flex;
    width: 100%;
    padding: 17px 33px;
    font-size: 26px;
    .comment-content {
      width: 100%;
      padding: 0 33px;
      border-radius: 38px;
      height: 66px;
      background-color: $light_white;
    }
    .publish-comment {
      width: 100px;
      margin-left: 28px;
      border-radius: 24px;
      line-height: 66px;
      text-align: center;
      font-size: 30px;
      color: $light_gray;
    }
  }
  .inside {

  }
}
.inside {
  //padding: 0 112px;
}
