// 颜色设置
$black: #000000;
$gray: #ADADAE;
$blue: #00D2FF;
//$red: #FF6699;
$red: #FE586F;
$white: #FFFFFF;
$light_gray: #F5F6FB;
$light_white: #F9F8F8;

// 字体大小设置
$font-big: 44px;
$font-middle: 30px;

// 1px 线的颜色
$color-row-line: #F0F0F0;
$color-col-line: #F0F0F0;
