@font-face {
  font-family: 'iconfont';  /* project id 1347555 */
  src: url('//at.alicdn.com/t/font_1347555_49jnpholyd8.eot');
  src: url('//at.alicdn.com/t/font_1347555_49jnpholyd8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1347555_49jnpholyd8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1347555_49jnpholyd8.woff') format('woff'),
  url('//at.alicdn.com/t/font_1347555_49jnpholyd8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1347555_49jnpholyd8.svg#iconfont') format('svg');
}
.u-icon {
  &:before {
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-align: center;
  }
}


.icon-share:before {
  content: "\e61a";
}

.icon-comment:before {
  content: "\e61b";
}

.icon-view-user:before {
  content: "\e61d";
}

.icon-home:before {
  content: "\e60f";
}

.icon-like:before {
  content: "\e61c";
}

.icon-liked:before {
  content: "\e611";
  color: #FF6699;
}

.icon-man:before {
  content: "\e612";
  color: #00D2FF;
}

.icon-girl:before {
  content: "\e613";
  color: #FF6699;
}

.icon-arrow-left:before {
  content: "\e619";
}
