.header {
  margin: 55px 20px 20px 20px;
  display: flex;
  align-items: center;
  text-align: center;
  .left {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 32px;
    border: 1Px solid rgba(0,0,0,0.08);
    .i-back {
      padding-left: 17px;
      height: 55px;
      line-height: 55px;
      font-size: 29px;
    }
    .line {
      color: rgba(0,0,0,0.08);
    }
    .i-home {
      padding-right: 17px;
      font-size: 38px;
    }
  }
  .title {
    font-size: 37px;
    font-weight: 500;
    line-height: 52px;
    padding-left: 128px;
  }
}
