@import "../../styles/variable";
.avatar {
  display: flex;
  //justify-content: center;
  //align-items: center;
  height: 50px;
  .left {
    display: flex;
    height: 50px;
    line-height: 50px;
    .cover {
      .cover-img {
        height: 50px;
        width: 50px;
        font-size: 0;
        border-radius: 50%;
      }
    }
    .name {
      margin-left: 14px;
      font-size: 28px;
      font-weight:500;
      color: rgba(54,54,54,1);
    }
  }
  .right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    .follow, .unfollow, .edit-btn {
      display: flex;
      justify-content: center;
      width:110px;
      height:50px;
      line-height:50px;
      background: rgba(245,246,251,1);
      border-radius:25px;
      text-align: center;
      .txt {
        height: 50px;
        line-height:50px;
        font-size: 24px;
        font-weight:500;
        color: rgba(184,184,184,1);
      }
    }
    .unfollow {
      background: $red;
      .txt {
        color: $white;
      }
    }
    .edit-btn {
      background: #F5F6FB;
      .txt {
        color: $black;
      }
    }
  }
}
