@import "../../styles/variable";

.user-header {
  padding: 34px 34px 34px 34px;
  .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
  }
  .avatar {
    position: relative;
    display: flex;
    flex: 0 0 130px;
    //margin-top: 150px;
    line-height: 130px;
    text-align: center;
    .avatar-img {
      height: 130px;
      width: 130px;
      border-radius: 50%;
    }
    .name {
      margin-left: 26px;
      line-height: 130px;
      text-align: center;
      font-weight:500;
      font-size: 32px;
      color:rgba(54,54,54,1);
      letter-spacing: 1px;
    }
    .logined-user {
      display: flex;
      flex-direction: column;
      .notice {
        position: absolute;
        right: 1px;
        top: 30px;
      }
      .img {
        width: 68px;
        height: 68px;
      }
    }
    .follow-button, .unfollow-button, .edit-button {
      position: absolute;
      right: 1px;
      top: 30px;
      width:180px;
      height:68px;
      line-height: 68px;
      background: $light_gray;
      border-radius:34px;
      .text {
        color: #B8B8B8;
        text-align: center;
      }
    }
    .edit-button {
      right: 83px;
      .text {
        color: white;
      }
    }

    .unfollow-button {
      background: $red;
      .text {
        color: white;
      }

    }
    .edit-button {
      background: $blue;
    }
  }

  .detail {
    display: flex;
    margin-top: 50px;
    height: 40px;
    line-height:40px;
    font-size: 20px;
    font-weight:400;
    .icon {
      font-size: 30px;
    }
    .location {
      border-radius:2px;
      margin-left: 15px;
      padding: 0 10px;
      background: rgba(245,246,251,1);
      color: rgba(123,123,123,1);
    }
  }
  .numbers {
    display: flex;
    margin-top: 40px;
    font-size: 0;
    .item {
      display: flex;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin-right: 30px;
      .num {
        font-size: 36px;
        font-weight: 600;
        text-align: end;
      }
      .txt {
        margin-top: 5px;
        margin-left: 10px;
        font-size: 24px;
        color: rgba(54,54,54,1);
      }
    }
  }
}
