@import "../../styles/variable";

.user-header {
  background-color: white;
  padding: 0 0 0 0;
  margin: 20px 20px 0 20px;
  box-shadow: 6px 6px 12px 0px rgba(240,241,243,1);
  border-radius: 12px;
  .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
  }
  .header-blank {
    height: 132px;
    background-color: #F5F6FB;
  }
  .avatar {
    padding: 25px 25px 0 25px;
    position: relative;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex: 0 0 130px;
    //margin-top: 20px;
    line-height: 130px;
    text-align: center;
    .avatar-img {
      height: 130px;
      width: 130px;
      border-radius: 50%;
    }
    .name {
      margin-left: 26px;
      line-height: 130px;
      text-align: center;
      font-weight:500;
      font-size: 32px;
      color:rgba(54,54,54,1);
      letter-spacing: 1px;
    }
    .logined-user {
      display: flex;
      flex-direction: column;

      .at-badge {
        .at-badge__num {
          top: 0;
          right: 0;
        }
      }
      .notice {
        position: absolute;
        right: 1px;
        top: 30px;
        .at-badge {
          .at-badge__num {
            top: 0;
            right: 0;
          }
        }
      }
      .img {
        width: 68px;
        height: 68px;
      }
    }
    .follow-button, .unfollow-button, .edit-button {
      position: absolute;
      right: 25px;
      top: 30px;
      width:180px;
      height:68px;
      line-height: 68px;
      background: $light_gray;
      border-radius:34px;
      .text {
        color: #B8B8B8;
        text-align: center;
      }
    }
    .edit-button {
      //right: 45px;
      .text {
        color: rgba(54,54,54,1);
      }
    }

    .unfollow-button {
      background: $red;
      .text {
        color: white;
      }

    }
    .edit-button {
      background: rgba(245,246,251,1);;
    }
  }

  .detail {
    display: flex;
    padding: 0 25px 0 25px;
    margin-top: 50px;
    height: 40px;
    line-height:40px;
    font-size: 20px;
    font-weight:400;
    .icon {
      font-size: 30px;
    }
    .location {
      border-radius:2px;
      margin-left: 20px;
      padding: 0 10px;
      background: rgba(245,246,251,1);
      color: rgba(123,123,123,1);
    }
  }
  .numbers {
    display: flex;
    padding: 0 25px 45px 25px;
    margin-top: 32px;
    font-size: 0;
    .item {
      display: flex;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin-right: 30px;
      .num {
        font-size: 36px;
        font-weight: 600;
        text-align: end;
      }
      .txt {
        margin-top: 5px;
        margin-left: 10px;
        font-size: 24px;
        color: rgba(54,54,54,1);
      }
    }
  }
}
