@import "../../styles/variable";
.base-suggestion {
  display: flex;
  padding: 22px 0;
  font-size: 30px;
  //border-top: 1PX solid #EBEBEB;
  border-bottom: 1PX solid $color-row-line;
  .select-box {
    position: relative;
    width: 42px;
    height: 39px;
    border-radius:6px;
    border: 2px solid rgba(223,222,222,1);
    .finished {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      font-size: 21px;
      line-height: 42px;
      text-align: center;
      margin: auto;
    }
  }
  .delete-wrap {
    width: 100%;

  }
  .title-wrap {
    margin-left: 20px;
    width: 100%;
    .title {
      height: 43px;
      font-size: 30px;
      font-weight: 300;
      color: rgba(61,61,61,1);
      line-height: 43px;
      letter-spacing: 1px;
      width: 100%;
    }
  }
}
