@import "../../styles/variable";

.suggestion-list {
  .base-suggestion {
    display: flex;
    padding: 22px 0;
    font-size: 30px;
    border-bottom: 1PX solid $color-row-line;

    .select-box {
      //position: absolute;
      //left: 38px;
      position: relative;
      width: 42px;
      height: 39px;
      border-radius:6px;
      border: 1PX solid rgba(223,222,222,1);
      .finished {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        font-size: 21px;
        line-height: 42px;
        text-align: center;
        margin: auto;
      }
    }
    .delete-wrap {
      width: 100%;

    }
    .title-wrap {
      margin-left: 20px;
      width: 100%;
      .title {
        height: 43px;
        font-size: 30px;
        font-weight: 300;
        color: rgba(61,61,61,1);
        line-height: 43px;
        letter-spacing: 1px;
        width: 100%;
      }
    }
  }
}

.add-sug {
  margin-top: 54px;
  color: $red;
  font-size: 30px;
  font-weight: 300;
}
