.edit-account {
  background-color: white;
  height: 100%;
  .edit-form {
    padding: 55px 30px;
    .group {
      display: flex;
      text-align: center;
      line-height: 100px;
      .label {
        font-size: 28px;
        min-width: 100px;
      }

      .content {
        font-size: 28px;
        margin-left: 90px;
        width: 100%;
        image {
          height: 90px;
          width: 90px;
          border-radius: 50%;
          float: right;
          margin-right: 40px;
        }
        .right-text {
          float: right;
          padding-right: 40px;
        }
        .intro {
          line-height: 48px;
          margin-top: 20px;
        }
      }
    }

  }
}
