@import "../../styles/variable";

.division {
  height: 15px;
  width: 100%;
  background-color: $light_white;
}

.list-content {
  padding: 20px;
  .item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 124px;
    margin-bottom: 20px;
    padding: 0 25px;
    font-size: 32px;
    line-height: 124px;
    box-shadow: 6px 6px 12px 0px rgba(240,241,243,1);
    border-radius: 12px;
    background-color: white;
    .txt {
      justify-content: flex-start;
    }
    .icon-item {
      justify-content: flex-end;
      color: #E2E2E2;
    }
  }
}
