@import "../../styles/mixin";
page{
  height: 100%;
}

.todo-list {
  background: #F5F6FB;
  //height: 100%;
  //width: 100%;
  margin-bottom: 5px;
}

.blank {
  height: 20px;
}
.todo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 124px;
  margin: 20px;
  margin-top: 0;
  box-shadow:6px 6px 12px 0 rgba(240,241,243,1);
  background:rgba(255,255,255,1);
  border-radius:12px;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    padding-right: 0;
    font-size: 32px;
    font-weight: 400;
    color: rgba(61,61,61,1);
    line-height: 43px;
    .title {
      @include multi-line-text(1);
      line-height: 1.2;
    }
    .time {
      margin-top: 5px;
      font-size: 22px;
      font-weight: 400;
      line-height: 43px;
      color: rgba(179,179,179,1);
    }
  }
  .status {
    //width: 30%;
    padding-left: 40px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    color: #DBDBDB;
  }
}
.new-topic {
  position: fixed;
  bottom: 90px;
  right: 40px;
  z-index: 100;
}
